body {
    background-color: black;
}
.caroimage {
    width: 100%;

}
.semi-transparent-bg {
    background-color: rbga(0,0,0,0.5);
    padding: 15px;
    border-radius: 5px;
}
.form-signin {
    margin: auto;
    margin-top: 10em;
    width: 20em;
}
.opacity-80 {
    --bs-bg-opacity: .8;
}
#about-content {
    margin-top: 5em;
    width: 45em;
}
#contact-content {
    margin-top: 5em;
    width: 45em;
}