{% extends 'base.html' %}
{% block body %}
<div class="container" id="about-content">
    <h1 class="text-white display-5 mt-5">Learn more about Bitscrape</h1>
    <p class="text-white mt-3">
        Welcome to my website! This platform was created by a passionate, freshly graduated developer who has recently discovered a love for cooking and exploring new recipes. My journey began in college, where I studied computer science and developed a strong foundation in programming and web development. However, it wasn't until I started experimenting in the kitchen that I found a new passion that beautifully complemented my technical skills.
        <br><br>
        Cooking has become a delightful escape for me, a creative outlet where I can experiment with flavors and techniques. Each new recipe I try brings a sense of accomplishment and joy, whether it's a simple weeknight dinner or a complex dish that takes hours to perfect. This newfound hobby inspired me to combine my love for technology with my enthusiasm for cooking, leading to the creation of this website. I wanted to build a platform where users could easily create, share, and enjoy recipes, fostering a community of food lovers who can learn from each other and celebrate the art of cooking.
        <br><br>
        <img src="../static/assets/joseph-gonzalez-fdlZBWIP0aM-unsplash.jpg" width="100%" class="rounded-2">
        <br><br>
        Developing this website has been a labor of love. As a solo developer, I poured my heart into every line of code, ensuring that the site is user-friendly, visually appealing, and packed with features that make it easy to share and discover new recipes. From the intuitive user interface to the robust backend, every aspect of this site was crafted with the user in mind. I believe that cooking should be a joyful experience, and I hope this platform makes it easier for you to find inspiration, share your culinary creations, and connect with other food enthusiasts.
        <br><br>
        I am excited to see this community grow and to witness the amazing recipes you'll all share. Whether you're a seasoned chef or a beginner in the kitchen, this website is designed to support you in your culinary journey. Thank you for being a part of this adventure, and I look forward to seeing the delicious dishes you'll create and share. Let's cook, share, and enjoy together!</p>
</div>
{% endblock %}