<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BitScrape</title>
    <link rel="icon" href="../static/assets/skillet_24dp_FILL0_wght400_GRAD0_opsz24.svg">
    {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="../static/css/bitescape.css">
    {% endblock %}
</head>
<body>
    {% include 'header.html' %}
    {% block body %}{% endblock %}
    {% include 'footer.html' %}
    {% block scripts %}
    {{ bootstrap.load_js() }}
    {% endblock %}
</body>
</html>