<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../static/assets/chad-montano-eeqbbemH9-c-unsplash.jpg" width="100%">

        <div class="container">
          <div class="carousel-caption text-light bg-dark p-3 rounded-4 opacity-80 mb-5">
            <h1>Join Bitescape Today!</h1>
            <p>Share your favorite recipes and food adventures with our community.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/assets/chad-montano-MqT0asuoIcU-unsplash.jpg" width="100%">

        <div class="container">
          <div class="carousel-caption text-light bg-dark p-3 rounded-4 opacity-80 mb-5">
            <h1>Grow your culinary skills.</h1>
            <p>Discover new ingredients and cooking techniques.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../static/assets/khloe-arledge-ND3edEmzcdQ-unsplash.jpg" width="100%">

        <div class="container">
          <div class="carousel-caption text-light bg-dark p-3 rounded-4 opacity-80 mb-5">
            <h1>Let your taste buds travel.</h1>
            <p>Explore mouther-watering dishes from around the world.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>