{% extends 'base.html' %}
{% block body %}
<div class="container text-white" id="contact-content">
    <h1 class="display-5">Need to Reach Out?</h1>
    <p>We'd love to hear from you! Whether you have questions, suggestions, feedback, or just want to share your culinary adventures, feel free to reach out to us. Your input is invaluable in helping us improve and grow our community. You can contact us via email at [your-email@example.com] or fill out the contact form below. We'll do our best to respond as promptly as possible. Thank you for being a part of our vibrant community of food enthusiasts!
    </p>
</div>
{% endblock %}